body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 90vh;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.vertical-center {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1.5em 2em -1em #999;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.intro {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.iam {
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
}
.name {
  white-space: nowrap;
  font-size: 5vw;
  font-family: 'Poppins', sans-serif;
}

img {
  height: 100%;
  width: 50%;
}

.subtitle {
  z-index: -1;
  background-color: #5d88c9;
  text-align: end;
  font-family: 'Montserrat', sans-serif;
  padding: 2px 5px;
  font-size: 2vw;
  position: relative;
  top: -2em;
}

#social {
  text-align: center;
  font-size: 1.5vw;
}
.icon {
  margin: 0 3px;
  width: 5%;
}
@media all and (max-width: 500px) {
  .vertical-center {
    top: 30%;
  }
  .wrapper {
    width: 100%;
  }
  .iam {
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
  }
  .name {
    white-space: nowrap;
    font-size: 7vw;
    font-family: 'Poppins', sans-serif;
  }
  .subtitle {
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
  }
  .icon {
    margin: 0 5px;
    width: 10%;
  }
}
